<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ soi.hostname }} - {% block title %}Shutdown-on-Idle{% endblock %}</title>
        <script src="resources/js/jquery.min.js"></script>
        <script src="resources/js/bootstrap.min.js"></script>
        <script src="resources/js/dataTables.min.js"></script>
        <script src="resources/js/chart.min.js"></script>
        <link href="resources/css/bootstrap.min.css" rel="stylesheet" />
        <link href="resources/css/dataTables.css" rel="stylesheet" />

        <script>
            $(document).ready(function()
            {
                $("[data-toggle=tooltip]").tooltip();
                {% block onready %}{% endblock %}
            });
        </script>

        {% block header %}<!-- add some headers here -->{% endblock %}
    </head>
    <body>
        {% include 'addprocess.twig' %}
        {% include 'shutdown.twig' %}

        {% if message is defined %}
        <div class="alert alert-{{ type }}">
            <a data-dismiss="alert" href="#" class="close">&times;</a>
            <span class="{{ type }}">&nbsp;</span> {{ message }}
        </div>
        {% endif %}
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">{{ soi.hostname }}</a>
                    <ul class="nav">
                        <li><a href="/">Processes</a></li>
                        <li><a href="/system">System</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li data-toggle="tooltip" data-placement="bottom" title="add a process"><a href="#add" data-toggle="modal"><i class="icon-plus"></i></a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="shutdown {{ soi.hostname }}"><a href="#shutdown" data-toggle="modal"><i class="icon-off"></i></a></li>
                    </ul>
                </div>
            </div>
            {% block content %}<!-- add your content here -->{% endblock %}
        </div>
    </body>
    <footer>
        <center>{% block footer %}Shutdown-on-Idle {% if soi is defined %}v{{ soi.version }} - {% endif %}© 2013 <a href="https://github.com/drmonty/shutdown-on-idle">drmonty</a>{% endblock %}</center>
    </footer>
</html>