{% extends 'base.twig' %}

{% block title %}Processes{% endblock %}

{% block onready %}
    $("#processes").dataTable();
{% endblock %}

{% block content %}
    {% if soi is defined %}
        <table id="processes" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Binary</th>
                    <th>Logfile</th>
                    <th>Pid</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for process in soi.processlist %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ process.name }}</td>
                    <td>{{ process.description }}</td>
                    <td>{{ process.binary }}</td>
                    <td>{{ process.logfile }}</td>
                    <td>{% for pid in process.pids %}{{ pid }}{% if not loop.last %}<br />{% endif %}{% endfor %}</td>
                    <td>{% if process.status == -1 %}unknown{% elseif process.status == 0 %}stopped{% elseif process.status == 1 %}running{% else %}idle{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}